<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Sent</title>
</head>
<body>
    <h1>OTP Sent</h1>
    <h3>OTP Sent to Your Email. Please Enter Below:</h3>
    <form action="/validate_otp" method="POST">
        <label for="otp">Enter OTP:</label><br>
        <input type="text" id="otp" name="otp" required><br><br>
        <input type="submit" value="Verify OTP">
    </form>
</body>
</html>
